{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Activation de compte</title>
</head>
<body>
    <h2>Bienvenue sur SOUTENANCE DES ETUDIANTS !</h2>
    <p>Merci de vous être inscrit. Pour activer votre compte, veuillez cliquer sur le lien ci-dessous :</p>
    <p><a href="{{ activation_link }}">Activer mon compte</a></p>
    <p>Si le lien ne fonctionne pas, copiez et collez l'URL suivante dans votre navigateur :</p>
    <p>{{ activation_link }}</p>
    <p>Merci !</p>
</body>
</html>
